In [3]:
# Import pandas for data manipulation
import pandas as pd # type: ignore

In [4]:
# Create a pandas Series from a list with custom indices and print it
data = [1, 2, 3, 4, 5]
indices = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(data, index=indices)
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [60]:
# Create a 3x3 DataFrame with columns A,B,C and print it
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=['A', 'B', 'C'], index=['row1', 'row2', 'row3'])
print(df)

      A  B  C
row1  1  2  3
row2  4  5  6
row3  7  8  9

In [42]:
obesity_data = pd.read_csv('obesity_prediction.csv')

In [6]:
# Show the first few rows of the dataset for a quick data preview
print(obesity_data.head())  # Display the first few rows of the dataset

   Gender   Age  Height  Weight family_history FAVC  FCVC  NCP       CAEC  \
0  Female  21.0    1.62    64.0            yes   no   2.0  3.0  Sometimes
1  Female  21.0    1.52    56.0            yes   no   3.0  3.0  Sometimes
2    Male  23.0    1.80    77.0            yes   no   2.0  3.0  Sometimes
3    Male  27.0    1.80    87.0             no   no   3.0  3.0  Sometimes
4    Male  22.0    1.78    89.8             no   no   2.0  1.0  Sometimes

  SMOKE  CH2O  SCC  FAF  TUE        CALC                 MTRANS  \
0    no   2.0   no  0.0  1.0          no  Public_Transportation
1   yes   3.0  yes  3.0  0.0   Sometimes  Public_Transportation
2    no   2.0   no  2.0  1.0  Frequently  Public_Transportation
3    no   2.0   no  2.0  0.0  Frequently                Walking
4    no   2.0   no  0.0  0.0   Sometimes  Public_Transportation

               Obesity
0        Normal_Weight
1        Normal_Weight
2        Normal_Weight
3   Overweight_Level_I
4  Overweight_Level_II

In [63]:
# Display the first 2 rows of the dataset
obesity_data.head(2)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [64]:
# Display the last 3 rows of the dataset to inspect the end of the table
obesity_data.tail(3)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [7]:
# Show a small random sample of 3 rows (useful for quick spot checks)
obesity_data.sample(3)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
299,Male,23.000000,1.700000,75.000000,no,yes,3.0,3.0,Sometimes,no,3.000000,no,1.000000,2.000000,Sometimes,Public_Transportation,Overweight_Level_I
221,Male,23.000000,1.720000,82.000000,yes,yes,2.0,1.0,Sometimes,no,1.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
2007,Female,25.999174,1.638218,104.810024,yes,yes,3.0,3.0,Sometimes,no,2.654636,no,0.069238,0.629578,Sometimes,Public_Transportation,Obesity_Type_III

In [8]:
# Show a reproducible random sample of 10 rows (random_state ensures repeatability)
obesity_data.sample(10, random_state=42)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
544,Female,20.406871,1.755978,53.699561,yes,yes,2.000000,3.891994,Frequently,no,1.863930,no,2.870127,2.000000,no,Public_Transportation,Insufficient_Weight
1987,Female,26.000000,1.624950,111.004920,yes,yes,3.000000,3.000000,Sometimes,no,2.704315,no,0.000000,0.322666,Sometimes,Public_Transportation,Obesity_Type_III
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
527,Female,21.000000,1.520000,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight
196,Male,22.000000,1.750000,74.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,2.000000,Sometimes,Bike,Normal_Weight
744,Male,18.000000,1.738702,50.248677,yes,yes,1.871213,3.000000,Sometimes,no,1.283738,no,0.684879,1.487223,Sometimes,Public_Transportation,Insufficient_Weight
1635,Male,26.684354,1.819535,118.332689,yes,yes,1.975675,3.000000,Sometimes,no,2.357969,no,0.704236,0.010721,Sometimes,Public_Transportation,Obesity_Type_II
324,Female,30.000000,1.650000,71.000000,yes,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1449,Female,23.099906,1.571812,78.997166,yes,yes,2.000000,1.000000,Sometimes,no,2.000000,no,0.402614,0.000000,no,Public_Transportation,Obesity_Type_I
634,Female,23.000000,1.710129,50.079991,yes,yes,2.000000,3.000000,Frequently,no,2.685842,no,0.373186,2.000000,no,Public_Transportation,Insufficient_Weight

In [67]:
# Convert the DataFrame columns to a list (useful for iteration or inspection)
obesity_data.columns.to_list()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [68]:
# Show the DataFrame's index labels
obesity_data.index

RangeIndex(start=0, stop=2111, step=1)

In [69]:
# Show the shape of the DataFrame as (rows, columns)
obesity_data.shape

(2111, 17)

In [70]:
# Display summary statistics (count, mean, std, min, max, percentiles) for numeric columns
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [71]:
# Show information about the DataFrame: index dtype, column dtypes, non-null counts, memory usage
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [72]:
# Display the Index object containing column names
obesity_data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [73]:
obesity_data.loc[0:10,'Age']# Show  the age values of first 10 rows

0     21.0
1     21.0
2     23.0
3     27.0
4     22.0
5     29.0
6     23.0
7     22.0
8     24.0
9     22.0
10    26.0
Name: Age, dtype: float64

In [74]:
# Show the DataFrame shape (rows, columns) again
obesity_data.shape

(2111, 17)

In [75]:
obesity_data.loc[0:10,['Age','Weight','Height']]# Show  the age height and weight values of first 10 rows

     Age  Weight  Height
0   21.0    64.0    1.62
1   21.0    56.0    1.52
2   23.0    77.0    1.80
3   27.0    87.0    1.80
4   22.0    89.8    1.78
5   29.0    53.0    1.62
6   23.0    55.0    1.50
7   22.0    53.0    1.64
8   24.0    64.0    1.78
9   22.0    68.0    1.72
10  26.0   105.0    1.85

In [76]:
obesity_data.loc[0:10,'Age':'FAF']# Show  the age -> FAF Col values of first 10 rows expects name of col as input

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
0,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0
1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0
2,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0
3,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0
4,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0
5,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0
6,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
7,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0

In [77]:
obesity_data.iloc[0:10,0:5]# Show  the first 5 col values of first 10 rows expects index of col as input

   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
5    Male  29.0    1.62    53.0             no
6  Female  23.0    1.50    55.0            yes
7    Male  22.0    1.64    53.0             no
8    Male  24.0    1.78    64.0            yes
9    Male  22.0    1.72    68.0            yes

In [78]:
obesity_data.iloc[[10,20,30],[0,1,2]]# Show  the first 5 col values of first 10 rows expects index of col as input

   Gender   Age  Height
10   Male  26.0    1.85
20   Male  22.0    1.65
30   Male  29.0    1.77

In [79]:
obesity_data.iat[0,5]  # Access a single value at row index 5 and column 'Age'

'no'

In [81]:
obesity_data.loc[obesity_data['Age'] > 50, ['Age', 'Weight', 'Height']]  # Filter rows where Age > 50 and show specific columns

            Age     Weight    Height
21    52.000000  87.000000  1.690000
92    55.000000  84.000000  1.780000
133   61.000000  66.000000  1.650000
161   55.000000  80.000000  1.650000
232   51.000000  50.000000  1.590000
252   56.000000  90.000000  1.790000
1013  55.246250  80.491339  1.769269
1034  50.832559  82.130728  1.745528
1088  55.137881  80.993213  1.657221
1158  55.022494  80.400306  1.673394

In [86]:
obesity_data.loc[(obesity_data['Weight'] < 70) & (obesity_data['Age'] > 30), ['Age', 'Weight', 'Height']].head(10)#using multiple conditions to filter rows
# Show first 10 rows where Weight < 70 and Age > 30 using head()

      Age  Weight  Height
31   31.0    68.0    1.58
133  61.0    66.0    1.65
152  38.0    60.0    1.50
155  31.0    63.0    1.68
156  35.0    45.0    1.53
158  40.0    62.0    1.55
175  38.0    59.8    1.64
185  31.0    68.0    1.62
189  33.0    62.0    1.63
232  51.0    50.0    1.59

In [93]:
obesity_data.loc[(obesity_data['Weight'] < 70) | (obesity_data['Age'] > 30), ['Age', 'Weight', 'Height']].tail(10)#using multiple conditions to filter rows
# Show last 10 rows where Weight < 70 and Age > 30 using tail()

            Age      Weight    Height
1765  30.575349  124.952780  1.825449
1766  30.702559  126.418413  1.861980
1775  37.207082  118.401740  1.762921
1776  38.108940  119.201465  1.752863
1777  38.644441  117.792268  1.768235
1778  38.112989  118.134898  1.766888
1781  33.722449  103.276087  1.712905
1782  32.516469  102.784864  1.695735
1793  30.715160  101.141277  1.650189
1794  30.642430  102.583895  1.653876

In [97]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal') ].head(10)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [99]:
obesity_data.loc[0,'Age']=25

In [9]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [111]:
obesity_data.iloc[1,4]='no'# Show  the first 5 col values of first 10 rows expects index of col as input

In [108]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,25.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [11]:
obesity_data.iloc[:,9]='no matter'#iloc iat me colmn name otherwise values

In [16]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,31.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,31.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,33.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,37.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,32.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [17]:
def increase_age(age):
    return age + 5
obesity_data['Age'] = obesity_data['Age'].apply(increase_age)

In [19]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,36.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,36.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,38.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,42.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,37.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [26]:
def decrease_weight(weight):
    return weight - 6

obesity_data['Weight'] = obesity_data['Weight'].apply(decrease_weight)

In [28]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,36.0,1.62,40.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,36.0,1.52,32.0,yes,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,38.0,1.80,53.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,42.0,1.80,63.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,37.0,1.78,65.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [33]:
obesity_data['obesity_level'] = obesity_data['Obesity'].apply(lambda x: 'Healthy' if x == 'Normal' else 'Unhealthy')
# Creating a new column based on a condition using a lambda function

In [34]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,obesity_level
0,Female,36.0,1.62,40.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Unhealthy
1,Female,36.0,1.52,32.0,yes,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Unhealthy
2,Male,38.0,1.80,53.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Unhealthy
3,Male,42.0,1.80,63.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Unhealthy
4,Male,37.0,1.78,65.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Unhealthy

In [36]:
import numpy as np # type: ignore
obesity_data['New Age Category'] = np.where(obesity_data['Age'] < 30, 'Young',
                                           np.where(obesity_data['Age'] < 60, 'Middle-aged', 'Senior'))

In [38]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,obesity_level,New Age Category
0,Female,36.0,1.62,40.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
1,Female,36.0,1.52,32.0,yes,no,3.0,3.0,Sometimes,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
2,Male,38.0,1.80,53.0,yes,no,2.0,3.0,Sometimes,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
3,Male,42.0,1.80,63.0,no,no,3.0,3.0,Sometimes,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Unhealthy,Middle-aged
4,Male,37.0,1.78,65.8,no,no,2.0,1.0,Sometimes,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Unhealthy,Middle-aged

In [ ]:
obesity_data.insert(2,'BMI',obesity_data['Weight'] / (obesity_data['Height']/100)**2,allow_duplicates=True)

In [47]:
obesity_data.head()

,Gender,Age,BMI,BMI,BMI,BMI,Height,Weight,family_history,FAVC,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,obesity_level,New Age Category
0,Female,36.0,152415.790276,152415.790276,152415.790276,152415.790276,1.62,40.0,yes,no,...,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
1,Female,36.0,138504.155125,138504.155125,138504.155125,138504.155125,1.52,32.0,yes,no,...,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
2,Male,38.0,163580.246914,163580.246914,163580.246914,163580.246914,1.80,53.0,yes,no,...,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
3,Male,42.0,194444.444444,194444.444444,194444.444444,194444.444444,1.80,63.0,no,no,...,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Unhealthy,Middle-aged
4,Male,37.0,207675.798510,207675.798510,207675.798510,207675.798510,1.78,65.8,no,no,...,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Unhealthy,Middle-aged

In [51]:
obesity_data.drop(columns='obesity_level')

,Gender,Age,BMI,BMI,BMI,BMI,Height,Weight,family_history,FAVC,...,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,New Age Category
0,Female,36.000000,152415.790276,152415.790276,152415.790276,152415.790276,1.620000,40.000000,yes,no,...,Sometimes,no matter,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,Middle-aged
1,Female,36.000000,138504.155125,138504.155125,138504.155125,138504.155125,1.520000,32.000000,yes,no,...,Sometimes,no matter,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Middle-aged
2,Male,38.000000,163580.246914,163580.246914,163580.246914,163580.246914,1.800000,53.000000,yes,no,...,Sometimes,no matter,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,Middle-aged
3,Male,42.000000,194444.444444,194444.444444,194444.444444,194444.444444,1.800000,63.000000,no,no,...,Sometimes,no matter,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,Middle-aged
4,Male,37.000000,207675.798510,207675.798510,207675.798510,207675.798510,1.780000,65.800000,no,no,...,Sometimes,no matter,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Middle-aged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,35.976842,367008.245831,367008.245831,367008.245831,367008.245831,1.710730,107.408528,yes,yes,...,Sometimes,no matter,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Middle-aged
2107,Female,36.982942,358924.911738,358924.911738,358924.911738,358924.911738,1.748584,109.742943,yes,yes,...,Sometimes,no matter,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Middle-aged
2108,Female,37.524036,357268.021220,357268.021220,357268.021220,357268.021220,1.752206,109.689352,yes,yes,...,Sometimes,no matter,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Middle-aged
2109,Female,39.361936,361394.507123,361394.507123,361394.507123,361394.507123,1.739450,109.346641,yes,yes,...,Sometimes,no matter,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Middle-aged
2110,Female,38.664709,362066.504647,362066.504647,362066.504647,362066.504647,1.738836,109.472641,yes,yes,...,Sometimes,no matter,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Middle-aged

In [54]:
obesity_data.drop(columns=['obesity_level','New Age Category','CALC','BMI'])

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,MTRANS,Obesity
0,Female,36.000000,1.620000,40.000000,yes,no,2.0,3.0,Sometimes,no matter,2.000000,no,0.000000,1.000000,Public_Transportation,Normal_Weight
1,Female,36.000000,1.520000,32.000000,yes,no,3.0,3.0,Sometimes,no matter,3.000000,yes,3.000000,0.000000,Public_Transportation,Normal_Weight
2,Male,38.000000,1.800000,53.000000,yes,no,2.0,3.0,Sometimes,no matter,2.000000,no,2.000000,1.000000,Public_Transportation,Normal_Weight
3,Male,42.000000,1.800000,63.000000,no,no,3.0,3.0,Sometimes,no matter,2.000000,no,2.000000,0.000000,Walking,Overweight_Level_I
4,Male,37.000000,1.780000,65.800000,no,no,2.0,1.0,Sometimes,no matter,2.000000,no,0.000000,0.000000,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,35.976842,1.710730,107.408528,yes,yes,3.0,3.0,Sometimes,no matter,1.728139,no,1.676269,0.906247,Public_Transportation,Obesity_Type_III
2107,Female,36.982942,1.748584,109.742943,yes,yes,3.0,3.0,Sometimes,no matter,2.005130,no,1.341390,0.599270,Public_Transportation,Obesity_Type_III
2108,Female,37.524036,1.752206,109.689352,yes,yes,3.0,3.0,Sometimes,no matter,2.054193,no,1.414209,0.646288,Public_Transportation,Obesity_Type_III
2109,Female,39.361936,1.739450,109.346641,yes,yes,3.0,3.0,Sometimes,no matter,2.852339,no,1.139107,0.586035,Public_Transportation,Obesity_Type_III
2110,Female,38.664709,1.738836,109.472641,yes,yes,3.0,3.0,Sometimes,no matter,2.863513,no,1.026452,0.714137,Public_Transportation,Obesity_Type_III

In [56]:
obesity_data.rename(columns={'obesity_level':'New Age Category','CALC':'BMI'}, inplace=True)

In [58]:
obesity_data.head()

,Gender,Age,BMI,BMI,BMI,BMI,Height,Weight,family_history,FAVC,...,SMOKE,CH2O,SCC,FAF,TUE,BMI,MTRANS,Obesity,New Age Category,New Age Category
0,Female,36.0,152415.790276,152415.790276,152415.790276,152415.790276,1.62,40.0,yes,no,...,no matter,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
1,Female,36.0,138504.155125,138504.155125,138504.155125,138504.155125,1.52,32.0,yes,no,...,no matter,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
2,Male,38.0,163580.246914,163580.246914,163580.246914,163580.246914,1.80,53.0,yes,no,...,no matter,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight,Unhealthy,Middle-aged
3,Male,42.0,194444.444444,194444.444444,194444.444444,194444.444444,1.80,63.0,no,no,...,no matter,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Unhealthy,Middle-aged
4,Male,37.0,207675.798510,207675.798510,207675.798510,207675.798510,1.78,65.8,no,no,...,no matter,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Unhealthy,Middle-aged

In [ ]:
df1=pd.DataFrame({'id':[1,2,3,4,5],
    'Name':['Alice','Bob','Charlie','David','Eva'],
                  'Age':[25,30,35,40,45]})
df2=pd.DataFrame({'id':[3,4,5,6,7],'Name':['Frank','Grace','Hannah','Ian','Jack'],
                  'Age':[28,33,38,43,48]})

inner_merge = pd.merge(df1, df2, how='inner', on='id')#intersection of both df based on id col
inner_merge

   id   Name_x  Age_x  Name_y  Age_y
0   3  Charlie     35   Frank     28
1   4    David     40   Grace     33
2   5      Eva     45  Hannah     38

In [12]:
df1=pd.DataFrame({'id':[1,2,3,4,5],
    'Name':['Alice','Bob','Charlie','David','Eva'],
                  'Age':[25,30,35,40,45]})
df2=pd.DataFrame({'id':[ 3,4,5,6,7],'Name':['Frank','Grace','Hannah','Ian','Jack'],
                  'Age':[28,33,38,43,48]})#outer merge to get union from both df based on id col

outer_merge = pd.merge(df1, df2, how='outer', on='id')
outer_merge

   id   Name_x  Age_x  Name_y  Age_y
0   1    Alice   25.0     NaN    NaN
1   2      Bob   30.0     NaN    NaN
2   3  Charlie   35.0   Frank   28.0
3   4    David   40.0   Grace   33.0
4   5      Eva   45.0  Hannah   38.0
5   6      NaN    NaN     Ian   43.0
6   7      NaN    NaN    Jack   48.0

In [ ]:
left_merge = pd.merge(df1, df2, how='left', on='id')
left_merge#left join to get all records from left df1 based on id col

   id   Name_x  Age_x  Name_y  Age_y
0   1    Alice     25     NaN    NaN
1   2      Bob     30     NaN    NaN
2   3  Charlie     35   Frank   28.0
3   4    David     40   Grace   33.0
4   5      Eva     45  Hannah   38.0

In [16]:
right_merge = pd.merge(df1, df2, how='right', on='id')
right_merge#right join to get all records from right df2 based on id col

   id   Name_x  Age_x  Name_y  Age_y
0   3  Charlie   35.0   Frank     28
1   4    David   40.0   Grace     33
2   5      Eva   45.0  Hannah     38
3   6      NaN    NaN     Ian     43
4   7      NaN    NaN    Jack     48

In [18]:
df3=pd.DataFrame({'id1':[1,2,3,4,5],
    'Name':['Alice','Bob','Charlie','David','Eva'],
                  'Age':[25,30,35,40,45]})
df4=pd.DataFrame({'id2':[ 3,4,5,6,7],'Name':['Frank','Grace','Hannah','Ian','Jack'],
                  'Age':[28,33,38,43,48]})#outer merge to get union from both df based on id col

outer_merge = pd.merge(df3, df4, how='inner', left_on='id1', right_on='id2')
outer_merge

   id1   Name_x  Age_x  id2  Name_y  Age_y
0    3  Charlie     35    3   Frank     28
1    4    David     40    4   Grace     33
2    5      Eva     45    5  Hannah     38

In [30]:
# create new dfs with a 'Course' column containing some missing/empty values
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Course': ['Math', 'Science', None, 'History', '']  # None and empty string as missing values
})
df2 = pd.DataFrame({
    'id': [3, 4, 5, 6, 7],
    'Name': ['Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [28, 33, 38, 43, 48],
    'Course': ['Physics', '', 'English', None, 'Art']  # some missing/empty entries
})

# vertical concatenation and normalize empty strings to NaN so pandas considers them as missing
result = pd.concat([df1, df2], ignore_index=True)
 

result

   id     Name  Age   Course
0   1    Alice   25     Math
1   2      Bob   30  Science
2   3  Charlie   35     None
3   4    David   40  History
4   5      Eva   45
5   3    Frank   28  Physics
6   4    Grace   33
7   5   Hannah   38  English
8   6      Ian   43     None
9   7     Jack   48      Art

In [25]:
result.isna()

      id   Name    Age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False  False
7  False  False  False
8  False  False  False
9  False  False  False

In [31]:
result.notna()

     id  Name   Age  Course
0  True  True  True    True
1  True  True  True    True
2  True  True  True   False
3  True  True  True    True
4  True  True  True    True
5  True  True  True    True
6  True  True  True    True
7  True  True  True    True
8  True  True  True   False
9  True  True  True    True

In [33]:
# create new dfs with a 'Course' column containing some missing/empty values
df1 = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Course': ['Math', 'Science', None, 'History', '']  # None and empty string as missing values
})
df2 = pd.DataFrame({
    'id': [3, 4, 5, 6, 7],
    'Name': ['Frank', 'Grace', 'Hannah', 'Ian', 'Jack'],
    'Age': [28, 33, 38, 43, 48],
    'Course': ['Physics', '', 'English', None, 'Art']  # some missing/empty entries
})

# vertical concatenation and normalize empty strings to NaN so pandas considers them as missing
result3= pd.concat([df1, df2], axis=0, ignore_index=True)
 

result3

   id     Name  Age   Course
0   1    Alice   25     Math
1   2      Bob   30  Science
2   3  Charlie   35     None
3   4    David   40  History
4   5      Eva   45
5   3    Frank   28  Physics
6   4    Grace   33
7   5   Hannah   38  English
8   6      Ian   43     None
9   7     Jack   48      Art

In [35]:
result3.isna().sum()

id        0
Name      0
Age       0
Course    2
dtype: int64

In [39]:
result3.notna().sum()

id        10
Name      10
Age       10
Course     8
dtype: int64

In [40]:
import numpy as np # type: ignore

In [ ]:
obesity_data.loc[0:10,'Age']=np.nan
obesity_data.loc[0:10,'Smoking']=np.nan
obesity_data.loc[0:10,['family_history_with_overweight']] = np.nan
#set these to nan values to find missing values